::-moz-selection {
	background-color: #0d5088;
	color: #fff
}

::selection {
	background-color: #0d5088;
	color: #fff
}

::-webkit-input-placeholder {
	color: #777777;
	font-weight: 300
}

:-moz-placeholder {
	color: #777777;
	opacity: 1;
	font-weight: 300
}

::-moz-placeholder {
	color: #777777;
	opacity: 1;
	font-weight: 300
}

:-ms-input-placeholder {
	color: #777777;
	font-weight: 300
}

::-ms-input-placeholder {
	color: #777777;
	font-weight: 300
}

body {
	color: #777;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.625em;
	position: relative
}

ol,
ul {
	
	padding: .3rem;
	
}

.footer-menu {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    list-style: none;
    padding: 0;
}


ul li{
	
	padding: .5rem;
	
}



select {
	display: block
}

figure {
	margin: 0
}

a {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

iframe {
	border: 0
}

a,
a:focus,
a:hover {
	text-decoration: none;
	outline: 0
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
	text-decoration: none;
	outline: 0
}

.card-panel {
	margin: 0;
	padding: 60px
}

.btn i,
.btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
	font-size: 1em;
	line-height: inherit
}

.gray-bg {
	background: #f9f9ff
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	color: #222;
	line-height: 1.2em !important;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 600
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0;
	margin-top: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: #222
}

h1,
.h1 {
	font-size: 36px
}

h2,
.h2 {
	font-size: 30px
}

h3,
.h3 {
	font-size: 24px
}

h4,
.h4 {
	font-size: 18px
}

h5,
.h5 {
	font-size: 16px
}

h6,
.h6 {
	font-size: 14px;
	color: #222
}

td,
th {
	border-radius: 0px
}

.clear::before,
.clear::after {
	content: " ";
	display: table
}

.clear::after {
	clear: both
}

.fz-11 {
	font-size: 11px
}

.fz-12 {
	font-size: 12px
}

.fz-13 {
	font-size: 13px
}

.fz-14 {
	font-size: 14px
}

.fz-15 {
	font-size: 15px
}

.fz-16 {
	font-size: 16px
}

.fz-18 {
	font-size: 18px
}

.fz-30 {
	font-size: 30px
}

.fz-48 {
	font-size: 48px !important
}

.fw100 {
	font-weight: 100
}

.fw300 {
	font-weight: 300
}

.fw400 {
	font-weight: 400 !important
}

.fw500 {
	font-weight: 500
}

.f700 {
	font-weight: 700
}

.fsi {
	font-style: italic
}

.mt-10 {
	margin-top: 10px
}

.mt-15 {
	margin-top: 15px
}

.mt-20 {
	margin-top: 20px
}

.mt-25 {
	margin-top: 25px
}

.mt-30 {
	margin-top: 30px
}

.mt-35 {
	margin-top: 35px
}

.mt-40 {
	margin-top: 40px
}

.mt-50 {
	margin-top: 50px
}

.mt-60 {
	margin-top: 60px
}

.mt-70 {
	margin-top: 70px
}

.mt-80 {
	margin-top: 80px
}

.mt-100 {
	margin-top: 100px
}

.mt-120 {
	margin-top: 120px
}

.mt-150 {
	margin-top: 150px
}

.ml-0 {
	margin-left: 0 !important
}

.ml-5 {
	margin-left: 5px !important
}

.ml-10 {
	margin-left: 10px
}

.ml-15 {
	margin-left: 15px
}

.ml-20 {
	margin-left: 20px
}

.ml-30 {
	margin-left: 30px
}

.ml-50 {
	margin-left: 50px
}

.mr-0 {
	margin-right: 0 !important
}

.mr-5 {
	margin-right: 5px !important
}

.mr-15 {
	margin-right: 15px
}

.mr-10 {
	margin-right: 10px
}

.mr-20 {
	margin-right: 20px
}

.mr-30 {
	margin-right: 30px
}

.mr-50 {
	margin-right: 50px
}

.mb-0 {
	margin-bottom: 0px
}

.mb-0-i {
	margin-bottom: 0px !important
}

.mb-5 {
	margin-bottom: 5px
}

.mb-10 {
	margin-bottom: 10px
}

.mb-15 {
	margin-bottom: 15px
}

.mb-20 {
	margin-bottom: 20px
}

.mb-25 {
	margin-bottom: 25px
}

.mb-30 {
	margin-bottom: 30px
}

.mb-40 {
	margin-bottom: 40px
}

.mb-50 {
	margin-bottom: 50px
}

.mb-60 {
	margin-bottom: 60px
}

.mb-70 {
	margin-bottom: 70px
}

.mb-80 {
	margin-bottom: 80px
}

.mb-90 {
	margin-bottom: 90px
}

.mb-100 {
	margin-bottom: 100px
}

.pt-0 {
	padding-top: 0px
}

.pt-10 {
	padding-top: 10px
}

.pt-15 {
	padding-top: 15px
}

.pt-20 {
	padding-top: 20px
}

.pt-25 {
	padding-top: 25px
}

.pt-30 {
	padding-top: 30px
}

.pt-40 {
	padding-top: 40px
}

.pt-50 {
	padding-top: 50px
}

.pt-60 {
	padding-top: 60px
}

.pt-70 {
	padding-top: 70px
}

.pt-80 {
	padding-top: 80px
}

.pt-90 {
	padding-top: 90px
}

.pt-100 {
	padding-top: 100px
}

.pt-120 {
	padding-top: 120px
}

.pt-150 {
	padding-top: 150px
}

.pt-170 {
	padding-top: 170px
}

.pb-0 {
	padding-bottom: 0px
}

.pb-10 {
	padding-bottom: 10px
}

.pb-15 {
	padding-bottom: 15px
}

.pb-20 {
	padding-bottom: 20px
}

.pb-25 {
	padding-bottom: 25px
}

.pb-30 {
	padding-bottom: 30px
}

.pb-40 {
	padding-bottom: 40px
}

.pb-50 {
	padding-bottom: 50px
}

.pb-60 {
	padding-bottom: 60px
}

.pb-70 {
	padding-bottom: 70px
}

.pb-80 {
	padding-bottom: 80px
}

.pb-90 {
	padding-bottom: 90px
}

.pb-100 {
	padding-bottom: 100px
}

.pb-120 {
	padding-bottom: 120px
}

.pb-150 {
	padding-bottom: 150px
}

.pr-30 {
	padding-right: 30px
}

.pl-30 {
	padding-left: 30px
}

.pl-90 {
	padding-left: 90px
}

.p-40 {
	padding: 40px
}

.float-left {
	float: left
}

.float-right {
	float: right
}

.text-italic {
	font-style: italic
}

.text-white {
	color: #fff
}

.text-black {
	color: #000
}

.transition {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.section-full {
	padding: 100px 0
}

.section-half {
	padding: 75px 0
}

.text-center {
	text-align: center
}

.text-left {
	text-align: left
}

.text-rigth {
	text-align: right
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.inline-flex {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex
}

.flex-grow {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.flex-left {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	justify-content: flex-start
}

.flex-middle {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center
}

.flex-right {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	justify-content: flex-end
}

.flex-top {
	-webkit-align-self: flex-start;
	-moz-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start
}

.flex-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center
}

.flex-bottom {
	-webkit-align-self: flex-end;
	-moz-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end
}

.space-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between
}

.space-around {
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	justify-content: space-around
}

.flex-column {
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.flex-cell {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1
}

.display-table {
	display: table
}

.light {
	color: #fff
}

.dark {
	color: #222
}

.relative {
	position: relative
}

.overflow-hidden {
	overflow: hidden
}

.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}

.container.fullwidth {
	width: 100%
}

.container.no-padding {
	padding-left: 0;
	padding-right: 0
}

.no-padding {
	padding: 0
}

.section-bg {
	background: #f9fafc
}

@media (max-width: 767px) {
	.no-flex-xs {
		display: block !important
	}
}

.row.no-margin {
	margin-left: 0;
	margin-right: 0
}

.sample-text-area {
	background: #fff;
	padding: 100px 0 70px 0
}

.text-heading {
	margin-bottom: 30px;
	font-size: 24px
}

b,
sup,
sub,
u,
del {
	color: #0d5088
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 18px
}

h5 {
	font-size: 16px
}

h6 {
	font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5em
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
	color: #777
}

.button-area {
	background: #fff
}

.button-area .border-top-generic {
	padding: 70px 15px;
	border-top: 1px dotted #eee
}

.button-group-area .genric-btn {
	margin-right: 10px;
	margin-top: 10px
}

.button-group-area .genric-btn:last-child {
	margin-right: 0
}

.genric-btn {
	display: inline-block;
	outline: none;
	line-height: 40px;
	padding: 0 30px;
	font-size: .8em;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.genric-btn:focus {
	outline: none
}

.genric-btn.e-large {
	padding: 0 40px;
	line-height: 50px
}

.genric-btn.large {
	line-height: 45px
}

.genric-btn.medium {
	line-height: 30px
}

.genric-btn.small {
	line-height: 25px
}

.genric-btn.radius {
	border-radius: 3px
}

.genric-btn.circle {
	border-radius: 20px
}

.genric-btn.arrow {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.genric-btn.arrow span {
	margin-left: 10px
}

.genric-btn.default {
	color: #222;
	background: #f9f9ff;
	border: 1px solid transparent
}

.genric-btn.default:hover {
	border: 1px solid #f9f9ff;
	background: #fff
}

.genric-btn.default-border {
	border: 1px solid #f9f9ff;
	background: #fff
}

.genric-btn.default-border:hover {
	color: #222;
	background: #f9f9ff;
	border: 1px solid transparent
}

.genric-btn.primary {
	color: #fff;
	background: #0d5088;
	border: 1px solid transparent
}

.genric-btn.primary:hover {
	color: #0d5088;
	border: 1px solid #0d5088;
	background: #fff
}

.genric-btn.primary-border {
	color: #0d5088;
	border: 1px solid #0d5088;
	background: #fff
}

.genric-btn.primary-border:hover {
	color: #fff;
	background: #0d5088;
	border: 1px solid transparent
}

.genric-btn.success {
	color: #fff;
	background: #4cd3e3;
	border: 1px solid transparent
}

.genric-btn.success:hover {
	color: #4cd3e3;
	border: 1px solid #4cd3e3;
	background: #fff
}

.genric-btn.success-border {
	color: #4cd3e3;
	border: 1px solid #4cd3e3;
	background: #fff
}

.genric-btn.success-border:hover {
	color: #fff;
	background: #4cd3e3;
	border: 1px solid transparent
}

.genric-btn.info {
	color: #fff;
	background: #38a4ff;
	border: 1px solid transparent
}

.genric-btn.info:hover {
	color: #38a4ff;
	border: 1px solid #38a4ff;
	background: #fff
}

.genric-btn.info-border {
	color: #38a4ff;
	border: 1px solid #38a4ff;
	background: #fff
}

.genric-btn.info-border:hover {
	color: #fff;
	background: #38a4ff;
	border: 1px solid transparent
}

.genric-btn.warning {
	color: #fff;
	background: #f4e700;
	border: 1px solid transparent
}

.genric-btn.warning:hover {
	color: #f4e700;
	border: 1px solid #f4e700;
	background: #fff
}

.genric-btn.warning-border {
	color: #f4e700;
	border: 1px solid #f4e700;
	background: #fff
}

.genric-btn.warning-border:hover {
	color: #fff;
	background: #f4e700;
	border: 1px solid transparent
}

.genric-btn.danger {
	color: #fff;
	background: #f44a40;
	border: 1px solid transparent
}

.genric-btn.danger:hover {
	color: #f44a40;
	border: 1px solid #f44a40;
	background: #fff
}

.genric-btn.danger-border {
	color: #f44a40;
	border: 1px solid #f44a40;
	background: #fff
}

.genric-btn.danger-border:hover {
	color: #fff;
	background: #f44a40;
	border: 1px solid transparent
}

.genric-btn.link {
	color: #222;
	background: #f9f9ff;
	text-decoration: underline;
	border: 1px solid transparent
}

.genric-btn.link:hover {
	color: #222;
	border: 1px solid #f9f9ff;
	background: #fff
}

.genric-btn.link-border {
	color: #222;
	border: 1px solid #f9f9ff;
	background: #fff;
	text-decoration: underline
}

.genric-btn.link-border:hover {
	color: #222;
	background: #f9f9ff;
	border: 1px solid transparent
}

.genric-btn.disable {
	color: #222, 0.3;
	background: #f9f9ff;
	border: 1px solid transparent;
	cursor: not-allowed
}

.generic-blockquote {
	padding: 30px 50px 30px 30px;
	background: #f9f9ff;
	border-left: 2px solid #0d5088
}

.progress-table-wrap {
	overflow-x: scroll
}

.progress-table {
	background: #f9f9ff;
	padding: 15px 0px 30px 0px;
	min-width: 800px
}

.progress-table .serial {
	width: 11.83%;
	padding-left: 30px
}

.progress-table .country {
	width: 28.07%
}

.progress-table .visit {
	width: 19.74%
}

.progress-table .percentage {
	width: 40.36%;
	padding-right: 50px
}

.progress-table .table-head {
	display: flex
}

.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
	color: #222;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 500
}

.progress-table .table-row {
	padding: 15px 0;
	border-top: 1px solid #edf3fd;
	display: flex
}

.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
	display: flex;
	align-items: center
}

.progress-table .table-row .country img {
	margin-right: 15px
}

.progress-table .table-row .percentage .progress {
	width: 80%;
	border-radius: 0px;
	background: transparent
}

.progress-table .table-row .percentage .progress .progress-bar {
	height: 5px;
	line-height: 5px
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
	background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
	background-color: #e66686
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
	background-color: #f09359
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
	background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
	background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
	background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
	background-color: #a367e7
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
	background-color: #e66686
}

.single-gallery-image {
	margin-top: 30px;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	height: 200px
}

.list-style {
	width: 14px;
	height: 14px
}

.unordered-list li {
	position: relative;
	padding-left: 30px;
	line-height: 1.82em !important
}

.unordered-list li:before {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	border: 3px solid #0d5088;
	background: #fff;
	top: 4px;
	left: 0;
	border-radius: 50%
}

.ordered-list {
	margin-left: 30px
}

.ordered-list li {
	list-style-type: decimal-leading-zero;
	color: #0d5088;
	font-weight: 500;
	line-height: 1.82em !important
}

.ordered-list li span {
	font-weight: 300;
	color: #777
}

.ordered-list-alpha li {
	margin-left: 30px;
	list-style-type: lower-alpha;
	color: #0d5088;
	font-weight: 500;
	line-height: 1.82em !important
}

.ordered-list-alpha li span {
	font-weight: 300;
	color: #777
}

.ordered-list-roman li {
	margin-left: 30px;
	list-style-type: lower-roman;
	color: #0d5088;
	font-weight: 500;
	line-height: 1.82em !important
}

.ordered-list-roman li span {
	font-weight: 300;
	color: #777
}

.single-input {
	display: block;
	width: 100%;
	line-height: 40px;
	border: none;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px
}

.single-input:focus {
	outline: none
}

.input-group-icon {
	position: relative
}

.input-group-icon .icon {
	position: absolute;
	left: 20px;
	top: 0;
	line-height: 40px;
	z-index: 3
}

.input-group-icon .icon i {
	color: #797979
}

.input-group-icon .single-input {
	padding-left: 45px
}

.single-textarea {
	display: block;
	width: 100%;
	line-height: 40px;
	border: none;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px;
	height: 100px;
	resize: none
}

.single-textarea:focus {
	outline: none
}

.single-input-primary {
	display: block;
	width: 100%;
	line-height: 40px;
	border: 1px solid transparent;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px
}

.single-input-primary:focus {
	outline: none;
	border: 1px solid #0d5088
}

.single-input-accent {
	display: block;
	width: 100%;
	line-height: 40px;
	border: 1px solid transparent;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px
}

.single-input-accent:focus {
	outline: none;
	border: 1px solid #eb6b55
}

.single-input-secondary {
	display: block;
	width: 100%;
	line-height: 40px;
	border: 1px solid transparent;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px
}

.single-input-secondary:focus {
	outline: none;
	border: 1px solid #f09359
}

.default-switch {
	width: 35px;
	height: 17px;
	border-radius: 8.5px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer
}

.default-switch input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer
}

.default-switch input+label {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #0d5088;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer
}

.default-switch input:checked+label {
	left: 19px
}

.primary-switch {
	width: 35px;
	height: 17px;
	border-radius: 8.5px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer
}

.primary-switch input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0
}

.primary-switch input+label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%
}

.primary-switch input+label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border-radius: 8.5px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s
}

.primary-switch input+label:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer
}

.primary-switch input:checked+label:after {
	left: 19px
}

.primary-switch input:checked+label:before {
	background: #0d5088
}

.confirm-switch {
	width: 35px;
	height: 17px;
	border-radius: 8.5px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer
}

.confirm-switch input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0
}

.confirm-switch input+label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%
}

.confirm-switch input+label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border-radius: 8.5px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer
}

.confirm-switch input+label:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer
}

.confirm-switch input:checked+label:after {
	left: 19px
}

.confirm-switch input:checked+label:before {
	background: #4cd3e3
}

.primary-checkbox {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer
}

.primary-checkbox input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0
}

.primary-checkbox input+label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #f1f1f1
}

.primary-checkbox input:checked+label {
	background: url(../img/elements/primary-check.png) no-repeat center center/cover;
	border: none
}

.confirm-checkbox {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer
}

.confirm-checkbox input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0
}

.confirm-checkbox input+label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #f1f1f1
}

.confirm-checkbox input:checked+label {
	background: url(../img/elements/success-check.png) no-repeat center center/cover;
	border: none
}

.disabled-checkbox {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer
}

.disabled-checkbox input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0
}

.disabled-checkbox input+label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #f1f1f1
}

.disabled-checkbox input:disabled {
	cursor: not-allowed;
	z-index: 3
}

.disabled-checkbox input:checked+label {
	background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
	border: none
}

.primary-radio {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer
}

.primary-radio input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0
}

.primary-radio input+label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	cursor: pointer;
	border: 1px solid #f1f1f1
}

.primary-radio input:checked+label {
	background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
	border: none
}

.confirm-radio {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer
}

.confirm-radio input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0
}

.confirm-radio input+label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	cursor: pointer;
	border: 1px solid #f1f1f1
}

.confirm-radio input:checked+label {
	background: url(../img/elements/success-radio.png) no-repeat center center/cover;
	border: none
}

.disabled-radio {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer
}

.disabled-radio input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0
}

.disabled-radio input+label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	cursor: pointer;
	border: 1px solid #f1f1f1
}

.disabled-radio input:disabled {
	cursor: not-allowed;
	z-index: 3
}

.disabled-radio input:checked+label {
	background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
	border: none
}

.default-select {
	height: 40px
}

.default-select .nice-select {
	border: none;
	border-radius: 0px;
	height: 40px;
	background: #f9f9ff;
	padding-left: 20px;
	padding-right: 40px
}

.default-select .nice-select .list {
	margin-top: 0;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	width: 100%;
	padding: 10px 0 10px 0px
}

.default-select .nice-select .list .option {
	font-weight: 300;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	line-height: 28px;
	min-height: 28px;
	font-size: 12px;
	padding-left: 20px
}

.default-select .nice-select .list .option.selected {
	color: #0d5088;
	background: transparent
}

.default-select .nice-select .list .option:hover {
	color: #0d5088;
	background: transparent
}

.default-select .current {
	margin-right: 50px;
	font-weight: 300
}

.default-select .nice-select::after {
	right: 20px
}

.form-select {
	height: 40px;
	width: 100%
}

.form-select .nice-select {
	border: none;
	border-radius: 0px;
	height: 40px;
	background: #f9f9ff;
	padding-left: 45px;
	padding-right: 40px;
	width: 100%
}

.form-select .nice-select .list {
	margin-top: 0;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	width: 100%;
	padding: 10px 0 10px 0px
}

.form-select .nice-select .list .option {
	font-weight: 300;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	line-height: 28px;
	min-height: 28px;
	font-size: 12px;
	padding-left: 45px
}

.form-select .nice-select .list .option.selected {
	color: #0d5088;
	background: transparent
}

.form-select .nice-select .list .option:hover {
	color: #0d5088;
	background: transparent
}

.form-select .current {
	margin-right: 50px;
	font-weight: 300
}

.form-select .nice-select::after {
	right: 20px
}

#header {
	padding: 14px 0;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997
}

#header.header-scrolled {
	background: rgba(34, 34, 34, 0.9);
	transition: all 0.5s
}

@media (max-width: 673px) {
	#logo {
		margin-left: 20px
	}
}

#header #logo h1 {
	font-size: 34px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 3px
}

#header #logo h1 a,
#header #logo h1 a:hover {
	color: #fff;
	padding-left: 10px;
	border-left: 4px solid #0d5088
}

#header #logo img {
	padding: 0;
    margin: 0;
    height: 60px;
    width: auto;
}

@media (max-width: 768px) {
	#header #logo h1 {
		font-size: 28px
	}
	#header #logo img {
		max-height: 40px
	}
}

.nav-menu,
.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none
}

.nav-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99
}

.nav-menu li {
	position: relative;
	white-space: nowrap
}

.nav-menu>li {
	float: left
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
	display: block
}

.nav-menu ul ul {
	top: 0;
	left: 100%
}

.nav-menu ul li {
	min-width: 180px;
	text-align: left
}

.sf-arrows .sf-with-ul {
	padding-right: 30px
}

.sf-arrows .sf-with-ul:after {
	content: "\f107";
	position: absolute;
	right: 15px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal
}

.sf-arrows ul .sf-with-ul:after {
	content: "\f105"
}

#nav-menu-container {
	margin: 0
}

@media (min-width: 1024px) {
	#nav-menu-container {
		padding-right: 60px
	}
}

@media (max-width: 768px) {
	#nav-menu-container {
		display: none
	}
}

.nav-menu a {
	padding: 0 8px 0px 8px;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	outline: none
}

.nav-menu>li {
	margin-left: 10px
}

.nav-menu ul {
	margin: 16px 0 0 0;
	padding: 10px;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	background: #fff
}

.nav-menu ul li {
	transition: 0.3s
}

.nav-menu ul li a {
	padding: 10px;
	color: #333;
	transition: 0.3s;
	display: block;
	font-size: 12px;
	text-transform: none
}

.nav-menu ul li:hover>a {
	color: #0d5088
}

.nav-menu ul ul {
	margin: 0
}

#mobile-nav-toggle {
	position: fixed;
	right: 15px;
	z-index: 999;
	top: 16px;
	border: 0;
	background: none;
	font-size: 24px;
	display: none;
	transition: all 0.4s;
	outline: none;
	cursor: pointer
}

#mobile-nav-toggle i {
	color: #fff;
	font-weight: 900
}

@media (max-width: 800px) {
	#mobile-nav-toggle {
		display: inline
	}
	#nav-menu-container {
		display: none
	}
}

#mobile-nav {
	position: fixed;
	top: 0;
	padding-top: 18px;
	bottom: 0;
	z-index: 998;
	background: rgba(0, 0, 0, 0.8);
	left: -260px;
	width: 260px;
	overflow-y: auto;
	transition: 0.4s
}

#mobile-nav ul {
	padding: 0;
	margin: 0;
	list-style: none
}

#mobile-nav ul li {
	position: relative
}

#mobile-nav ul li a {
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	overflow: hidden;
	padding: 10px 22px 10px 15px;
	position: relative;
	text-decoration: none;
	width: 100%;
	display: block;
	outline: none;
	font-weight: 700
}

#mobile-nav ul li a:hover {
	color: #fff
}

#mobile-nav ul li li {
	padding-left: 30px
}

#mobile-nav ul .menu-has-children i {
	position: absolute;
	right: 0;
	z-index: 99;
	padding: 15px;
	cursor: pointer;
	color: #fff
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
	color: #0d5088
}

#mobile-nav ul .menu-has-children li a {
	text-transform: none
}

#mobile-nav ul .menu-item-active {
	color: #0d5088
}

#mobile-body-overly {
	width: 100%;
	height: 100%;
	z-index: 997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	display: none
}

body.mobile-nav-active {
	overflow: hidden
}

body.mobile-nav-active #mobile-nav {
	left: 0
}

body.mobile-nav-active #mobile-nav-toggle {
	color: #fff
}

.section-gap {
	padding: 120px 0
}

.section-title {
	padding-bottom: 30px
}

.section-title h2 {
	margin-bottom: 20px
}

.section-title p {
	font-size: 16px;
	margin-bottom: 0
}

@media (max-width: 991.98px) {
	.section-title p br {
		display: none
	}
}

.p1-gradient-bg,
.primary-btn,
.convert-wrap,
.callaction-area,
.single-price:hover .price-bottom,
.single-footer-widget .navbar-form .genric-btn {
	background-image: -moz-linear-gradient(0deg, #4cd3e3 0%, #0d5088 100%);
	background-image: -webkit-linear-gradient(0deg, #4cd3e3 0%, #0d5088 100%);
	background-image: -ms-linear-gradient(0deg, #4cd3e3 0%, #0d5088 100%)
}

.p1-gradient-color {
	background: -moz-linear-gradient(0deg, #4cd3e3 0%, #0d5088 100%);
	background: -webkit-linear-gradient(0deg, #4cd3e3 0%, #0d5088 100%);
	background: -ms-linear-gradient(0deg, #4cd3e3 0%, #0d5088 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}

.primary-btn {
	line-height: 42px;
	padding-left: 30px;
	padding-right: 60px;
	border-radius: 25px;
	border: none;
	color: #fff;
	display: inline-block;
	font-weight: 500;
	position: relative;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	text-transform: uppercase;
	position: relative
}

.primary-btn:focus {
	outline: none
}

.primary-btn span {
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-60%);
	right: 30px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.primary-btn:hover {
	color: #fff
}

.primary-btn:hover span {
	color: #fff;
	right: 20px
}

.primary-btn.white {
	border: 1px solid #fff;
	color: #fff
}

.primary-btn.white span {
	color: #fff
}

.primary-btn.white:hover {
	background: #fff;
	color: #0d5088
}

.primary-btn.white:hover span {
	color: #0d5088
}

.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}

.banner-area {
	background: url(../img/main-bg.jpg) right;
	background-size: cover
}

@media (max-width: 767.98px) {
	.banner-area .fullscreen {
		height: 700px !important
	}
}

.banner-area .primary-btn {
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 3px
}

.banner-area .overlay-bg {
	background-color: rgba(4, 9, 30, 0.85)
}

.banner-content {
	text-align: center
}

.banner-content h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	line-height: 1em;
	margin-top: 20px
}

.banner-content h1 span {
	font-weight: 700
}

@media (max-width: 991.98px) {
	.banner-content h1 {
		font-size: 36px
	}
}

@media (max-width: 991.98px) {
	.banner-content h1 br {
		display: none
	}
}

@media (max-width: 1199.98px) {
	.banner-content h1 {
		font-size: 45px
	}
}

@media (max-width: 414px) {
	.banner-content h1 {
		font-size: 40px
	}
}

.banner-content h5 {
	font-weight: 400;
	letter-spacing: 3px
}

.header-btn {
	background-color: #0056b3;
	border: 1px solid transparent;
	color: #fff
}

.header-btn:hover {
	border: 1px solid #fff;
	background: transparent;
	color: #fff
}

.convert-area {
	position: relative;
	margin-top: -105px;
	z-index: 2
}

.convert-area .cols-img {
	margin-bottom: 30px
}

.convert-wrap {
	padding: 100px 0
}

.convert-wrap h1,
.convert-wrap p {
	text-align: center
}

.convert-wrap .form-control {
	color: #fff;
	font-size: 12px;
	padding: 12px;
	border-radius: 0;
	background: transparent;
	border-color: #4cd3e3
}

.convert-wrap .form-control::placeholder {
	color: #fff;
	text-transform: capitalize;
	font-size: 12px
}

.convert-wrap .primary-btn {
	padding-left: 30px;
	padding-right: 30px;
	background: #fff;
	color: #222;
	float: right;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.convert-wrap .primary-btn:hover {
	background: transparent;
	border: 1px solid #fff
}

@media (max-width: 1024px) {
	.convert-wrap .primary-btn {
		padding-left: 22px;
		padding-right: 22px;
		width: 200px
	}
}

@media (max-width: 800px) {
	.convert-wrap {
		padding: 100px 20px
	}
}

.single-services {
	text-align: center
}

@media (max-width: 800px) {
	.single-services {
		margin-bottom: 20px
	}
}

.aboutus-area {
	background-color: #222
}

.aboutus-area .owl-controls {
	position: absolute;
	right: -90%;
	top: 45%
}

@media (max-width: 800px) {
	.aboutus-area .owl-controls {
		position: relative;
		text-align: center;
		left: 0;
		top: 20px
	}
}

.aboutus-area .lnr-arrow-up {
	border-bottom: 1px solid #fff
}

.aboutus-area .lnr-arrow-up,
.aboutus-area .lnr-arrow-down {
	padding: 14px;
	color: #fff;
	font-weight: 500;
	display: inline-flex;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.aboutus-area .lnr-arrow-up:hover,
.aboutus-area .lnr-arrow-down:hover {
	color: #0d5088
}

.aboutus-right {
	padding-left: 4%;
	padding-right: 10%
}

.aboutus-right h1 {
	color: #fff
}

@media (max-width: 1024px) {
	.aboutus-right h1 {
		font-size: 32px
	}
}

@media (max-width: 800px) {
	.aboutus-right {
		padding-bottom: 50px
	}
	.aboutus-right br {
		display: none
	}
}

.service-area .header-text {
	text-align: center
}

.service-area .header-text h1 {
	margin-bottom: 20px
}

.single-service {
	padding: 30px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.single-service:hover {
	cursor: pointer
}

.single-service:hover h4 {
	color: #0d5088
}

.single-service h4 {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-top: 20px;
	margin-bottom: 20px
}

.single-service h4 .lnr {
	margin-right: 15px
}

.stat-area {
	background-color: #f9f9ff
}

.stat-area .primary-btn {
	padding-left: 40px;
	padding-right: 40px;
	border: 1px solid transparent
}

.stat-area .primary-btn:hover {
	border: 1px solid #0d5088;
	color: #0d5088;
	background: transparent
}

@media (max-width: 800px) {
	.stat-left {
		padding-bottom: 50px
	}
}

.callaction-area {
	text-align: center
}

.callaction-area h1 {
	padding-bottom: 20px
}

.callaction-area .primary-btn {
	background: #fff;
	color: #222;
	text-transform: capitalize;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid transparent;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.callaction-area .primary-btn:hover {
	background-color: transparent;
	border: 1px solid #222;
	color: #222
}

.single-price {
	text-align: center;
	border: 1px solid #eee
}

.single-price .price-top {
	background-color: #fbfcff;
	border-bottom: 1px solid #eee;
	padding: 30px 0px
}

.single-price .price-bottom {
	background-color: #f9f9ff;
	margin: 0 45px 45px 45px;
	padding: 35px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.single-price .price-bottom h1 {
	font-size: 60px;
	font-weight: 300
}

.single-price .price-bottom h1 span {
	font-size: 25px;
	margin-top: -14px;
	position: absolute;
	margin-left: -20px
}

.single-price .price-bottom .primary-btn {
	margin-top: 20px;
	padding-left: 45px;
	padding-right: 45px;
	background: #222;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

@media (max-width: 1024px) {
	.single-price .price-bottom .primary-btn {
		padding-left: 22px;
		padding-right: 22px
	}
}

.single-price p {
	padding: 30px 0px
}

.single-price:hover {
	cursor: pointer
}

.single-price:hover .primary-btn {
	background-color: #ca9814
}

@media (max-width: 800px) {
	.single-price {
		margin-bottom: 50px
	}
}

.single-blog h4 {
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.single-blog p {
	margin-bottom: 20px
}

.single-blog:hover h4 {
	color: #0d5088
}

.single-blog .user .meta {
	margin-left: 15px
}

@media (max-width: 800px) {
	.single-blog {
		margin-bottom: 30px
	}
}

.footer-area {
	background-color: #04091e
}

.footer-area h4 {
	padding-bottom: 30px
}

.footer-area .number {
	color: #0d5088;
	font-size: 24px;
	font-weight: 600;
	line-height: 30px
}

.footer-area .genric-btn {
	background: #0d5088;
	border: none;
	border-radius: 57px;
	height: 36px
}

.footer-area .primary-btn {
	background-color: #0d5088
}

.footer-area .primary-btn:hover .lnr {
	color: #0d5088
}

.footer-area .footer-bottom {
	padding-top: 40px
}

.footer-area .footer-bottom a {
	color: #0d5088
}

.footer-area .footer-bottom .footer-social {
	text-align: right
}

.footer-area .footer-bottom .footer-social a {
	background: #111111;
	margin: 2px;
	padding: 12px 16px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.footer-area .footer-bottom .footer-social a:hover {
	background-color: #0d5088
}

.footer-area .footer-bottom .footer-social i {
	color: #cccccc;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

@media (max-width: 991.98px) {
	.footer-area .footer-bottom .footer-social {
		text-align: left
	}
}

@media (max-width: 768px) {
	.footer-area .footer-bottom .footer-social {
		margin-top: 20px
	}
}

@media (max-width: 768px) {
	.footer-area .single-footer-widget .newsletter .primary-btn {
		right: 2% !important;
		width: auto;
		right: 0;
		top: 5px;
		transform: translate(0%, 0)
	}
}

.single-footer-widget .navbar-form {
	width: 100%
}

.single-footer-widget .navbar-form .form-control {
	border: none;
	border-radius: 20px;
	font-size: 13px;
	background-color: #1e2235
}

.single-footer-widget .navbar-form .add-on {
	background: #1e2235;
	border-radius: 20px;
	border: 1px solid #1e2235
}

.single-footer-widget .navbar-form .genric-btn:hover .lnr {
	color: #fff
}

.single-footer-widget .navbar-form .lnr {
	font-weight: 900;
	font-size: 18px !important;
	color: #fff
}

.footer-menu li {
	padding-bottom: 12px
}

.footer-menu li a {
	color: #777777;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.footer-menu li a:hover {
	color: #0d5088 
}

.whole-wrap {
	background-color: #fff
}

.generic-banner {
    background: linear-gradient( #0d50889e, #0d50889e ), url(../img/legal-bg.jpg) right;
    background-size: cover;
	text-align: center
}
.generic-banner-priv {
    background: linear-gradient( #0d50889e, #0d50889e ), url(../img/privacy.jpg) right;
    background-size: cover;
	text-align: center
}
.generic-banner-terms {
    background: linear-gradient( #0d50889e, #0d50889e ), url(../img/terms.jpg) right;
    background-size: cover;
	text-align: center
}
.generic-banner-disclaimer {
    background: linear-gradient( #0d50889e, #0d50889e ), url(../img/disclaimer.jpg) right;
    background-size: cover;
	text-align: center
}

.generic-banner .height {
	height: 600px
}
.generic-banner-priv .height {
	height: 600px
}
.generic-banner-terms .height {
	height: 600px
}
.generic-banner-disclaimer .height {
	height: 600px
}


@media (max-width: 767.98px) {
	.generic-banner .height {
		height: 400px
	}
}

.generic-banner .generic-banner-content h2 {
	line-height: 1.2em;
	margin-bottom: 20px
}

@media (max-width: 991.98px) {
	.generic-banner .generic-banner-content h2 br {
		display: none
	}
}

.generic-banner .generic-banner-content p {
	text-align: center;
	font-size: 16px
}

@media (max-width: 991.98px) {
	.generic-banner .generic-banner-content p br {
		display: none
	}
}

.generic-content h1 {
	font-weight: 600
}

.about-generic-area {
	background: #fff
}

.about-generic-area p {
	margin-bottom: 20px
}

.white-bg {
	background: #fff
}

.section-top-border {
	padding: 70px 0;
	border-top: 1px dotted #eee
}

.switch-wrap {
	margin-bottom: 10px
}

.switch-wrap p {
	margin: 0
}